/* BottlesTable.css */
.bottlesBody{
    margin: 0;
    width:100%;
}
.bottles-table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 10%;
  }
  .bottlesTitle{
    width: 100%;
    text-align: center ;

  }
  .bottles-table th,
  .bottles-table td {
    border: 1px solid #e0e0e0;
    padding: 5px;
    text-align: center;
  }
  
  .bottles-table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .bottles-table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  .bottles-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  /* Add more styles as needed to achieve your desired minimalist design. */
  