/* LandingPage.css */
.landing-page {
    margin-top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    text-align: center;
  }
  
  .landing-header {
    margin-bottom: 1rem;
  }
  
  .landing-header h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .landing-header p {
    color: #666;
  }
  
  .landing-content {
    max-width: 800px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .landing-footer {
    margin-top: 1rem;
  }
  
  /* You can add more styling as needed. Customize colors, fonts, and layout to match your app's design. */
  