/* Your landing page styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  height: 100vh;
background: linear-gradient(to bottom,  #1b3e54 0%,#082338 49%,#19394e 100%) no-repeat ; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
/* Dark blue: #0000FF

Orange: #FFA500

White: #082338082338 */
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.hero-section {
  text-align: center;
  margin-bottom: 50px;
  animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: 48px;
  color: #FFA500;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #FFA500;
  margin-bottom: 30px;
}

.get-started-button {
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #FFA500;
  color: #082338;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #ff6600;
}

.feature-section {
  text-align: center;
  margin-bottom: 50px;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h2 {
  font-size: 32px;
  color: #FFA500;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 18px;
  color: #FFA500;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  font-size: 14px;
  color: #FFA500;
  animation: fadeIn 1s ease;
}
