.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.hero-section {
  text-align: center;
  margin-bottom: 50px;
  animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: 48px;
  color: white;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;

}

.landing-page p {
  font-size: 18px;
  color: white;
  margin-bottom: 30px;
  font-family: 'Times New Roman', Times, serif;

}

.landing-page .feature-section {
  padding: 10px 30px;
  box-shadow:1px 1px 10px 10px white;
  text-align: center;
  margin-bottom: 50px;
  animation: fadeIn 1s ease;
  font-family: 'Times New Roman', Times, serif;

}
.landing-page .feature-section h2{
  margin:40px;
}
.landing-page .feature-section ul{
  display: flex;

}
.landing-page .feature-section ul li{
  width: 200px;
  background: linear-gradient(to bottom right, #1b3e54 0%, #487293 49%, #082338 100%) no-repeat;
margin: 10px;
padding: 10px;
border-radius: 20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.landing-page h2 {
  font-size: 32px;
  color: #FFA500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.landing-page ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.landing-page li {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

.landing-page c.footer {
  text-align: center;
  font-size: 14px;
  color: white;
  animation: fadeIn 1s ease;
}