.customer-for-area-record-button {
  font-size: 20px;
  padding: 0;
  background-color: transparent;
}

.table-title {
  text-align: center;
  color: white;
  margin: 10% 0 20px 0;
}
.customers-for-area-table {
  text-align: center;
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
}

.customers-for-area-table th,
.customers-for-area-table td {
  border: 1px solid #e0e0e0;
  padding: 15px 5px;
  text-align: center;
}

.customers-for-area-table th {
  font-weight: bold;
}

.customer-with-filled-order {
  background-color: rgb(37, 134, 37);
}
.customer-with-pending-order {
  background-color: goldenrod;
}
.customer-with-empty-order {
  background-color: rgb(221, 66, 66);
}
.customer-with-filled-order td,
.customer-with-empty-order td {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .customers-for-area-table {
    margin: 0 auto;
  }
  .table-title {
    margin: 25% 0 20px 0;
  }
}
