.stat-curtain-container {
  width: 90%;
  padding: 1rem 0.5rem;
  /* background: #f9f9f9; */
  text-align: center;
}

.stat-toggle-button {
  background-color: white;
  border: 1px solid #082338;
  padding: 0.5rem 1rem;
  font-size: 14px;
  border-radius: 20px;
  color: #082338;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

/* Curtain animation */
.stat-curtain {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s;
  opacity: 1;
  margin:0 auto;
}

.stat-curtain.closed {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease-in-out, opacity 0.3s;
}

.stat-card {
  margin: 0.3rem auto;
  padding: 0.6rem;
  border: 1px solid #06355e;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
  font-size: 0.9rem;
  color: #06355e;
  width: 80%;
  max-width: 400px;
}
