/* Dashboard.css */
.dashboard {
  display: flex;
  height: 100%;
}

.sidebar {
  background: rgb(6, 8, 46);
  color: #fff;
  width: 250px;
  height: 100%;
  position:fixed;
  transition: transform 0.3s;
  border-radius: 0 60px 0 0;
  opacity: 1;
  margin-top:100px;
}
.sidebar-link{
  color: #ece6e6;
  text-decoration: none;
}
.sidebar-link:active{
  text-decoration: underline;
  color:red;
}

.button-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
position: fixed;}
.menu-toggle {
  background: #9493b7;
  width: 40px;
  margin: 10px 20px;
  border: none;
  color: #ece6e6;
  padding: 10px;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin-bottom: 5%;
  z-index: 100;
  box-shadow: 1px 1px 10px 5px #ece6e6;

}
.go-to-home-button{
  font-size: 20px;
  border-radius: 20%;
  color: white;
margin-right:40px;  padding:10%;
background: #9493b7;
cursor: pointer;
box-shadow: 1px 1px 10px 5px #ece6e6;

}
.menu-open .sidebar {
  transform: translateX(0);
  opacity: 0.8; /* Set the opacity to 1 when the menu is open */
}

.menu-closed .sidebar {
  transform: translateX(-250px);
}

.menu-closed .menu-toggle {
  left: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  font-size: 18px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
  transition: margin 0.3s;
}

.menu-closed .content {
  margin-left: 0;
}

.logout-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}
