/* Dashboard.css */
.dashboard {
  display: flex;
  height: 100%;
}

.sidebar {
  background-color: white;
  border: 1px solid #082338;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: center; */
  color: #082338;
  width: 250px;
  height: 100%;
  position: fixed;
  right: 0;
  transition: transform 0.3s;
  border-radius: 60px 0 0 0;
  opacity: 1;
  margin-top: 100px;
  z-index: 10000;

}

.sidebar-link,
.go-to-home-button {
  color: #082338;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px 30px 5px 5px;
}

.sidebar-link:hover,
.go-to-home-button:hover {
  background-color: #0d94dd;
  color: white;
  font-weight: bold;
}

.button-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin-top: 20px;
}

.logo {
  width: 70px;
  border-radius: 20px;
  cursor: pointer;
}

.menu-toggle,
.right-buttons-employee {
  background: transparent;
  font-size: 20px;
  margin: 10px 20px;
  border: 1px solid #082338;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: none;
  color: #1f8ceb;
  cursor: pointer;
  display: block;
  z-index: 100;
}

.menu-open .sidebar {
  transform: translateX(0);
  opacity: 1;
}

.menu-closed .sidebar {
  transform: translateX(250px);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  font-size: 18px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
  transition: margin 0.3s;
}

.menu-closed .content {
  margin-left: 0;
}

.logout-button {
  padding: 10px;
  background-color: #1f8ceb;
  color: #082338;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px auto;
  width: 100px;
  border: 1px solid #082338;
}

.logout-button:hover {
  background-color: #1f8ceb;
  color: white;
  border: 1px solid #082338;
}

.prev-shipment-btn {
  position: fixed;
  bottom: 200px;
  left: 20px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  margin-top: 10%;
}

@media (max-width: 600px) {
  .sidebar-link {
    font-size: 20px;
  }
}
