.number-input {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.number-input input {
  width: 100%;
  padding: 8px;
  border: 1px solid #082338;
  border-radius: 4px;
}

.order-label {
  color: #082338;
}