.default-product {
    text-align: center;
    font-size: 30px;
    background-color: white;
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #083323;
    text-transform: uppercase;
}