.shipments-container {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shipments-list {
  width: 80%;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 100px;
}

.shipments-list h2 {
  text-align: center;
  margin-bottom: 10px;
 color: #082338;
  text-decoration: underline;
}

.shipments-list ul {
  list-style: none;
  padding: 0;
}

.shipments-list li {
  padding: 10px 0;
}

.shipments-list button {
  border: 1px solid #082338;
  padding: 10px;
  border-radius: 30px;
  background-color: #06355e;
 color: #082338;
  font-weight: bold;
  cursor: pointer;

}

.shipments-list button:hover {
  background-color: #0d94dd;
  color: black;
  box-shadow: 1px 1px 10px 10px rgb(20, 20, 19);

}

/* Pagination */
.pagination {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  width: 5%;
  text-align: center;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid #082338;
  cursor: pointer;
}

.pagination-item:hover {
   background-color: #0d94dd;
   color: white;
}

.loader-container {
  width: 100%;
  height: 30px;
  /* Adjust height as needed */
}

/* CSS for a simple spinner animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #082338;
  border-radius: 50%;
  margin: 100px auto;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.date-pickers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px;
  margin: 60px auto;
  border: 1px solid #082338;
}

.shipment-info-box {
  border: 1px solid #082338;
  padding-left: 10px;
  border-radius: 20px;
}
.shipment-info-field {
  padding: 10px 20px;
 color: #082338;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.totals {
  display: flex;
  justify-content: space-around;
}

.totals div {
  border: 1px solid #082338;
  font-size: 14px;
 color: #082338;
  font-family: 'Times New Roman', Times, serif;
  padding: 7px;
  margin: 5px;
  border-radius: 20px;
}
@media (max-width: 600px) {
  .shipments-container {
    margin-top: 0;
    padding: 20% 0;
    height: 100%;
   }
  .totals,.pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

}