.customer-for-area-record-button {
    font-size: 20px;
    padding: 0;
    background-color: transparent;
}

.table-title {
    text-align: center;
    color: white;
    margin: 10% 0 20px 0;
}

@media only screen and (max-width: 600px) {
    .days-table {
        margin: 0 auto;
    }
    .table-title {
        margin: 25% 0 20px 0;
    }
}