/* OrdersTable.css */
.ordersBody {
  margin:10px auto;
  width: 100%;

}

.ordersTitle {
  width: 100%;
  text-align: center;
}

.orders-table {
  width: 50%; /* Use the full width on mobile devices */
  border-collapse: collapse;
  margin: auto;
  border-radius: 30px;
}

.orders-table th,
.orders-table td {
  border: 1px solid #e0e0e0;
  padding: 10px; /* Increase padding for better touch interaction on mobile */
  text-align: center;
}

.orders-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.orders-table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

.orders-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Responsive Styles for Mobile */
@media (max-width: 600px) {
  .orders-table {
    font-size: 14px; /* Decrease font size on smaller screens */
  }

  .orders-table th,
  .orders-table td {
    padding: 8px; /* Adjust padding for better spacing on mobile */
  }
}

/* Add more styles as needed to enhance the mobile experience. */
