.shipments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom,  #1b3e54 0%,#082338 49%,#19394e 100%) no-repeat ; 
  }
  
  .date-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .shipments-list {
    width: 80%;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 100px;
  }
  
  .shipments-list h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .shipments-list ul {
    list-style: none;
    padding: 0;
  }
  
  .shipments-list li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
.shipment-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

/* Pagination */
.pagination {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pagination-item:hover {
  background-color: #f0f0f0;
}

  .loader-container {
    width: 100%;
    height: 30px; /* Adjust height as needed */
  }
  /* CSS for a simple spinner animation */
@keyframes spin {
  to { transform: rotate(360deg); }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4caf50;
  border-radius: 50%;
  margin: 100px auto;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
