.Orders {
    margin-top: 10%;
}

.Orders .receipt-details-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.Orders .receipt-details {
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid #082338;
    margin: 20px;
}

.receipt-detail p {
    color: #192D40;
}

.timestamp {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-button-div {
    text-align: end;
    padding-right: 10px;
}
.Orders h2{
  text-align: center;
}
.container-button-div button {
    margin: 2px;
    padding: 5px;
    border: 1px solid #082338;
}

.delete-btn {
    background-color: rgb(165, 49, 49);
    cursor: pointer;
}

.delete-btn:hover {
    background-color: white;
    border: 1px solid #082338;
}
.Orders p{
    text-align: center;
}
@media (max-width: 600px) {
    .Orders {
        margin-top: 0%;
        padding-top: 10%;
        height: 100%;
        border: 1px solid #082338;
    }
}