.create-customer-container {
  width: 400px;
  margin: 5% auto;
  padding: 20px 50px;
  border-radius: 20px;
  border: 1px solid #082338;

}

.form-group {
  margin-bottom: 15px;
}

.customer-input-label {
  display: block;
  margin-bottom: 5px;
  color: #082338;
}

.customer-text-input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #082338;
}

.add-customer-button {
  padding: 10px 20px;
  background-color: #1f8ceb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-customer-button:hover {
  background-color: #0d94dd;
}

@media (max-width: 600px) {
  .create-customer-container {
    max-width: 60%;
    border: 1px solid #082338;
    padding: 5px 10px;
  }

  .customer-text-input {
    width: 60%;
  }

  .add-customer-button {
    padding: 5px 10px;
    margin-bottom: 5px;
  }
}