.address-card {
  border: 1px solid #dcdcdc;
  border-radius: 16px;
  padding: 14px 18px;
  margin: 14px auto;
  width: 85%;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.address-card p {
  margin: 4px 0;
  font-size: 15.5px;
  color: #082338;
}

.address-card-label {
  font-weight: 600;
  color: #000;
  display: inline-block;
  width: 70px;
}

.address-card-edit {
  display: inline-block;
  margin-top: 10px;
  color: #06355e;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.address-card-edit:hover {
  color: #0d94dd;
  text-decoration: underline;
}

.address-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.address-card-search-bar {
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #06355e;
  width: 80%;
  max-width: 300px;
  text-align: right;
  font-size: 15px;
}
