.white-bg {
  height: 20vh;
  background-color: white;
  margin: 0;
  padding: 0;
}
.blue-box {
  height: 100%;
  background-color: rgb(18, 50, 85);
  animation: blue-box-animation 5s infinite;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
}
.blue-box .logo {
  width: 100px;
  height: fit-content;
  margin: 20px;
  box-shadow: 1px 1px 3px 1px rgb(251, 249, 249);
}y
body {
  text-align: center;
}

.info {
  position: absolute;
  bottom: 0;
  padding: 20px;
}
.blue-bg {
  height: 80vh;
  background-color: rgb(18, 50, 85);
  margin: 0;
  padding: 0;
}
.white-box {
  height: 100%;
  background-color: white;
  animation: white-box-animation 5s infinite;
  margin: 0;
  padding: 0;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 15vw;
  left: 35vw;
  right: 35vw;
  border: 1px solid black;
  padding: 3vw;
  border-radius: 20px;
  width: 30vw;
  height: 40vh;
  z-index: 1;
  background-color: rgb(246, 246, 246);
}
.login-form input,
.login-form button {
  padding: 1vw;
  border-radius: 10px;
  height: 4vh;
  width: 100%;
}
.login-form button {
  background-color: rgb(18, 50, 85);
  border: none;
  color: white;
  text-align: center;
  padding: 10px;
}

@media (max-width: 1100px) {
  .login-form {
    top: 35vw;
    left: 30vw;
    right: 30vw;
    width: 40vw;
  }
  .white-bg {
    height: 15vh;
  }
  .blue-bg {
    height: 85vh;
  }
}
@keyframes white-box-animation {
  0% {
    border-radius: 200px 0 0 0;
  }
  20% {
    border-radius: 600px 0 0 0;
  }
  40% {
    border-radius: 800px 0 0 0;
  }
  60% {
    border-radius: 0;
  }
  80% {
    border-radius: 0;
  }
  100% {
    border-radius: 0;
  }
}
@keyframes blue-box-animation {
  0% {
    border-radius: 0 0 0 0;
  }
  20% {
    border-radius: 0 0 50px 0;
  }
  40% {
    border-radius: 0 0 150px 0;
  }
  60% {
    border-radius: 0 0 350px 0;
  }
  80% {
    border-radius: 0 0 600px 0;
  }
  100% {
    border-radius: 0 0 900px 0;
  }
}
