.customers-body .customer-title {
    text-align: center;
}

.customers-body {
    margin-top: 0;
    margin-bottom: 100px;
}

.customers-body .customer-table td {
    padding: 20px 0;
}

.pagination {
    margin:10px 0;
    display: flex;
    align-items: center;
    align-content:center;
    justify-content: center;
}
.pagenb{
    flex-basis:50%;
    margin: 0 -15%;
    padding:0;

}
.nav-arrow{
    flex-basis:10px;
        padding:10px;
    margin:0 0;
    font-size: 20px;
    cursor:pointer;
    border-radius:50%;
    border:1px solid black;
    
}