.extra-profits{
    margin-top: 10%;
}
.extra-profits h2{
    text-align: center;

}
.show-add-profits{
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
.receipt-details-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.receipt-details{
    margin:10px 40px;
    flex-basis:150px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px 1px #FFA500;
}
.timestamp{
    display:flex;
    flex-direction: column;
    text-align: center;
}