/* daysTable.css */
.daysBody {
  margin: 0;
  width: 100%;
}

.loading {
  text-align: center;
}

.days-table {
  text-align: center;
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
}

.daysTitle {
  /* width: 100%; */
  text-align: center;

}

.days-table th,
.days-table td {
  border: 1px solid #e0e0e0;
  padding: 15px 5px;
  text-align: center;
}

.days-table th {
   
  font-weight: bold;
}

.days-table tbody tr {
  background-color: #f8f8f8;
}


/* Add more styles as needed to achieve your desired minimalist design. */