/* Dashboard.css */
.dashboard {
  display: flex;
  height: 100%;
}

.sidebar {
  background: linear-gradient(to bottom, #1b3e54 0%, #134368 49%, #082338 100%) no-repeat;
  color: #082338;
  width: 250px;
  height: 100%;
  position: fixed;
  transition: transform 0.3s;
  border-radius: 0 60px 0 0;
  opacity: 1;
  margin-top: 100px;
  z-index: 10000;
}

.sidebar-link {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

.sidebar-link:active {
  text-decoration: underline;
  color: red;
}

.button-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin-top: 20px;
  position: fixed;
}

.logo {
  width: 70px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px white;
  cursor: pointer;
}

.menu-toggle {
  background: transparent;
  font-size: 20px;
  margin: 10px 20px;
  box-shadow: 1px 1px 10px white;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: none;
  color: #FFA500;
  cursor: pointer;
  display: block;
  z-index: 100;
}

.go-to-home-button {
  color: white;
  padding: 10px;
  text-wrap: nowrap;
  font-size: 18px;
  text-align: center;
  border: 1px solid white;
  margin: 10px;
}

.menu-open .sidebar {
  transform: translateX(0);
  opacity: 1;
}

.menu-closed .sidebar {
  transform: translateX(-250px);
}


.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  font-size: 18px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
  transition: margin 0.3s;
}

.menu-closed .content {
  margin-left: 0;
}

.logout-button {
  background-color: #FFA500;
  color: #082338;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.prev-shipment-btn {
  position: fixed;
  bottom: 110px;
  left: 0px;
  background-color: transparent;
  font-size: 30px;
  text-align: center;
  margin-top: 10%;
}