/* OrdersTable.css */
.ordersBody {
  margin:10% auto;
  width: 100%;

}

.ordersTitle {
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: underline;
}



.orders-table th,
.orders-table td {
  border: 1px solid #e0e0e0;
  padding: 10px; /* Increase padding for better touch interaction on mobile */
  text-align: center;
}

.orders-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.orders-table tbody tr {
  background-color: #f8f8f8;
}
.orders-table {
  width: 60%; /* Use the full width on mobile devices */
  border-collapse: collapse;
  margin: auto;
}