.customer-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.uploader-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.file-input {
  margin-bottom: 15px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #083323;

  color: black;
}

.upload-btn {
  background-color: white;
  color: #006094;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

.upload-btn:hover {
  background-color: #006094;
  color: white;
}