.dashboard {
    display: flex;
    height: 100%;
  }
  
  .sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    height: 100%;
    position: fixed;
    transition: transform 0.3s;
  }
  
  .menu-toggle {
    background: none;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    display: none;
    margin: 0;
    font-size: 16px;
  }
  
  .menu-open .sidebar {
    transform: translateX(0);
  }
  
  .menu-closed .sidebar {
    transform: translateX(-250px);
  }
  
  .menu-open .menu-toggle {
    display: none;
  }
  
  .menu-closed .menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    left: 260px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 15px;
    font-size: 18px;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
    transition: margin 0.3s;
  }
  
  .menu-closed .content {
    margin-left: 0;
  }
  