.customers-body {
  margin-top: 0;
  margin-bottom: 100px;
}

.customer-header {
  text-align: center;
}

.customer-adding-option {
  padding: 10px;
  background-color: #ff6600;
  color: white;
  border: none;
  box-shadow: 1px 1px 8px white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 30px;
}

.customer-adding-option:hover {
  background-color: #FFA500;

}


.pagination {
  margin: 20px 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.pagenb {
  flex-basis: 50%;
  margin: 0 -15%;
  padding: 0;

}


/* daysTable.css */
.customers-body {
  margin: 0;
  width: 100%;
}

.customers-table {
  text-align: center;
  width: 70%;
  border-collapse: collapse;
  margin: 10px auto;
  box-shadow: 1px 1px 10px white;
}

.customers-table th,
.customers-table td {
  border: 1px solid #e0e0e0;
  padding: 15px 5px;
  text-align: center;
}

.customers-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.customers-table tbody tr {
  background-color: #f8f8f8;
}

.customers-body .customers-table td {
  padding: 20px 0;
}

.nav-arrow {
  flex-basis: 10px;
  padding: 10px;
  margin: 0 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;

}
.link-to-edit {
  text-shadow: 1px 1px 8px black;
}

/* Add more styles as needed to achieve your desired minimalist design. */