.add-model-container {
  padding: 10px;
  border: 1px solid rgb(8, 20, 43);
  width: 20%;
  box-shadow: 1px 1px 2px #06355e;
  margin: 10px auto;
  border-radius: 7px;
}

.add-model-title {
  text-align: center;
}

.add-model-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.add-model-form input,
.add-model-form select {
  padding: 10px;
  margin: 5px;
}

.add-model-form button {
  padding: 10px;
  margin: 5px;
  border-radius: 7px;
  box-shadow: 1px 1px 2px #06355e;
  color: white;
  font-weight: 100;
  font-size: 20px;
  background-color: #06355e;
}
.add-model-form div {
  text-align: center;
  /* font-size: 20px;
  padding: 5px; */
}
@media (max-width: 600px) {
  .add-model-container {
    padding: 30px;
    width: fit-content;
    box-shadow: 1px 1px 2px #06355e;
  }

  .add-model-title {
    font-size: 30px;
  }

  .add-model-form input,
  .add-model-form select {
    padding: 9px;
    margin: 6px;
    width: fit-content;
  }
  .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
  }

  .vertical-slider {
    writing-mode: bt-lr; /* Bottom to top, left to right */
    -webkit-appearance: slider-vertical;
    height: 200px;
    width: 40px;
  }
  .add-model-form div {
    text-align: center;
    /* font-size: 20px;
    padding: 5px; */
  }
}
