/* daysTable.css */
.areas-body {
  margin: 10% auto;
}

.loading {
  text-align: center;
}

.areas-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.areas-table {
  text-align: center;
  width: 70%;
  border-collapse: collapse;
  margin: 0 auto;
}

.areas-header button {
  margin: 10px;
  border: 1px solid #082338;
  border-radius: 30px;
  background-color: #ff6600;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 130px;
  padding: 10px;
}

.areas-header button:hover {
  background-color: #FFA500;
  color:  #082338;
  border: 1px solid #082338;


}

.areas-title {
  text-align: center;
  color:  #082338;;
  text-decoration: underline;
}

.areas-div {
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.areas-div .area-link {
  text-decoration: none;
  color:  #082338;;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #082338;
}

.areas-div .area-link:hover {
  font-weight: bold;
  color: #ff6600;
  border: 1px solid  #082338;;
  border: 1px solid #082338;
}

@media only screen and (max-width: 600px) {

  .areas-body {
    margin-top: 0;
    padding-top: 25%;
     height: 100%;
    padding-bottom: 10%;
  }

}