/* daysTable.css */
.areas-body {
    margin: 0;
    width: 100%;
  }
  
  .loading {
    text-align: center;
  }
  
  .areas-table {
    text-align: center;
    width: 70%;
    border-collapse: collapse;
    margin:0 auto  ;
    ;
  }
  
  .areas-title {
    /* width: 100%; */
    text-align: center;
  
  }
  
  .areas-table th,
  .areas-table td {
    border: 1px solid #e0e0e0;
    padding: 15px 5px;
    text-align: center;
  }
  
  .areas-table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .areas-table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  .areas-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  /* Add more styles as needed to achieve your desired minimalist design. */