/* Your landing page styles */
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #1b3e54 0%, #082338 49%, #19394e 100%) no-repeat;
  height: 100vh;
}

li,
p,
td,
tr,
button,
div,
h1,
h2 {
  font-family: 'Times New Roman', Times, serif;
}