/* Your landing page styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
  background: linear-gradient(to bottom, #1b3e54 0%, #082338 49%, #19394e 100%) no-repeat;
  height: 100vh;
  /* Set body height to viewport height */
}