
.customers-for-area-table {
  width: 90%;
  /* border-collapse: collapse; */
  margin: 1rem auto;
  background-color: #f9f9f9;
  border-radius: 20px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
}

.customers-for-area-table th {
  background-color: #009879;
  color: white;
  text-align: center;
  padding: 12px;
}

.customers-for-area-table td {
  padding: 12px;
  text-align: center;
  font-size: 1.1rem;
}

.customer-with-filled-order td {
  background-color: #d4edda;
}

.customer-with-empty-order td {
  background-color: #f8d7da;
}

.customer-with-pending-order td {
  background-color: #fff3cd;
}

.pending-badge {
  margin-right: 8px;
  color: #d39e00;
  font-size: 1.2rem;
}
