.customer-receipt {
  margin: 10px auto;
  width: 80%;
}
.receipt-details {
padding:10px;
}

.receipt-detail {
  display: flex;
  justify-content: space-around;
}

.receipt-detail p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.customer-receipt h2 {
  text-align: center;
  margin: 20px auto;
}
