.receipt-details {
    border: 1px solid #083323;
    width: 60%;
    margin: 1px auto;

}

.receipt-detail {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #192D40;

}

.receipt-detail p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.customer-receipt h2 {
    text-align: center;
    margin: 20px auto;
}
@media (max-width: 600px) {
    .receipt-details {
        width: 80%;
    }
}