.receipt-details {
    border: 1px solid #FFA500;
    width: 60%;
    border-radius: 20px;
    background-color: #192D40;
    box-shadow: 2px 2px 20px 9px #192D40;
    margin: 1px auto;

}

.receipt-detail {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #192D40;
    border-radius: 20px;

}

.receipt-detail p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.customer-receipt h2 {
    text-align: center;
    margin: 20px auto;
}