.order-receipt {
  width: 80%;
}

.receipt-details {
  border: 1px solid #192D40;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.receipt-detail {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-top: 1px solid #ccc;
}

.receipt-detail:first-child {
  border-top: none;
}

.detail-name {
  font-weight: bold;
  color: #082338;
}

.detail-value {
  color: #192D40;
}

@media (max-width: 600px) {
  .receipt-details {
    width: 95%;
  }
}
