/* Register.css */
.register-container {
  max-width: 400px;
  margin: 100px auto;
  margin-top: 10%;

  padding: 20px;
  border-radius: 20px;
  border: 1px solid #082338;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-title {
  text-align: center;
  color: #082338;
}

.register-input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}

.register-button {
  padding: 10px;
  background-color: #06355e;
  color: #082338;
  border-radius: 20px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0d94dd;
  color: #082338;
  border: 1px solid #082338;
}

/* Responsive Styles for Mobile */
@media (max-width: 600px) {
  .register-container {
    max-width: 60%;
    margin-top: 30%;
  }

  .register-container .register-input {
    padding: 8px;
    margin-bottom: 8px;
  }
}