/* Register.css */
.register-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  /* box-shadow: none; */
}

.register-container .register-title {
  margin-bottom: 20px;
  text-align: center;
}

.register-container .register-form {
  display: flex;
  flex-direction: column;
  box-shadow: none;
}

.register-container .register-input
 {
  padding: 10px;
  border-radius: 5px;
  width:90%;
}

.register-container .register-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-container .register-button:hover {
  background-color: #0056b3;
}

/* Responsive Styles for Mobile */
@media (max-width: 600px) {
  .register-container {
    max-width: 70%;
    margin: 20px auto;
  }

  .register-container .register-input {
    padding: 8px;
    margin-bottom: 8px;
  }
}
